/* APP COMPONENT */


.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(120, 160, 187, 0.2);
  display: flex; 
  flex-direction: column; 
  min-height: 100vh; 
  justify-content: space-between; 
}

.App_loading-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display: flex; 
  justify-content: center;
  align-items: center;
  /* display: none; */
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease; 
}

.loader-inner {
  vertical-align: top; 
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in; 
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg); 
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

/* .App_header-container {
  position: fixed;
  width: 100%;
  top: 0px;
} */

/* HEADER COMPONENT */


.header_header {
  /* border: 1px solid blue; */
  height: 80px;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  justify-content: center;
  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 5px 5px 5px #ddd;

  position: relative; 
  z-index: 100; 

  position: fixed;
  width: 100%;
  top: 0px;
}

.header_toggle-and-title-container {
  /* border: 1px solid blue; */
  display: flex;
  height: 75%;
  position: relative;
}

.header_toggle-btn-container {
  /* border: 1px solid green; */

  position: absolute;
  left: 0px;
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1; /* so event handler works with absolute positioning */
}

.header_logo-title-container {
  /* border: 1px solid red; */
  /* height: 100%; */
  /* width: 80%; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 20%;  so the logo and title are in the middle of the header, counters the toggle icon 20% width, didn't want toggle icon in absolute positioning  */
}

.header_logo-title-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.header_search-icon {
  cursor: pointer;
  /* font-size: 1.5rem !important; */
  transition: all 0.5s ease;  /* part 1 of the burger menu rotation */
}

.header_filter-icon {
  font-size: 0.8rem !important;
  cursor: pointer;
  /* transition: all 0.5s ease; */
   /* part 1 of the burger menu rotation */
}

.header_search-icon-rotate {
  transform: rotate(90deg); /* part 2 of the burger menu rotation */
}

.header_reddit-icon {
  color: rgb(255, 69, 0);
}

.header_font-awesome-icon {
  font-size: 1.5rem;
}

.header_title {
  font-size: 1.5rem;
  color: black;
}

.header_title-span {
  color: grey
}

.header_nav-container {
  /* border: 1px solid green; */
  height: 25%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  /* margin-top: 10px; */
}


/* NAV COMPONENT */


.nav_list {
  /* border: 1px solid yellow; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  list-style: none;
  height: 100%;
}

.nav_link {
  text-decoration: none;
  margin: 0px 10px;
  /* color: black; */
  height: 100%;
  line-height: 100%;
  color: rgb(150, 150, 150);
  /* border: 1px solid orange; */
}

.nav_link:hover {
  color: black;
}

.nav_saved-post-animation {
  animation: saveClicked 1s;
}

@keyframes saveClicked {
  0% {color:rgb(150, 150, 150);}
  25% {color:rgba(144, 238, 144, 0.5);}
  50% {color:rgba(144, 238, 144, 0.5);}
  75% {color:rgba(144, 238, 144, 0.5);}
  100% {color:rgb(150, 150, 150);}
}


/* SIDENAV COMPONENT */

.sideNav_sideNav {
  position: absolute; 
  left: 0;
  top: 0; 
  height: calc(100vh - 80px);
  margin-top: 80px;
  z-index: -10; 
  font-size: 0.7rem;
  /* width: 170px; */
  width: 0px;
  overflow: hidden;
  background-color: #ddd;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sideNav_hide-nav {
  /* border: 1px solid red; */
  /* position: absolute; 
  left: 0;
  top: 0;  */
  /* height: 100vh;  */
  /* margin-top: 80px;
  z-index: -10; 
  font-size: 0.7rem; */
  width: 0px;
  /* overflow: hidden;
  background-color: #ddd; */
  transition: width 0.4s;
}

.sideNav_show-nav {
  /* border: 1px solid red; */
  /* position: absolute; 
  left: 0;
  top: 0;  */
  /* height: calc(100vh - 80px); */
  /* margin-top: 80px;
  z-index: -10; 
  font-size: 0.7rem; */
  width: 200px;
  /* overflow: hidden; 
  background-color: #ddd; */
  transition: width 0.5s;
  /* border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; */
}

.sideNav_hide-form {
  visibility: hidden;
}

.sideNav_primary-label {
  display: block; 
  margin: 10px; 
}

#sideNav input {
  font-size: 0.7rem;
  margin: 0px 10px;
}

.sideNav_search-input {
  width: 85%;
}

.sideNav_filters-container {
  margin: 5px 0px;
  display: flex;
  align-items: center;
}

.sideNav_specifics-filter-brackets {
  font-size: 0.6rem;
  font-style: italic;
}

.sideNav_filters-checkbox {
  appearance: none;  
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: white;
  border: 1px solid rgb(150, 150, 150); 
  cursor: pointer;
}

.sideNav_filters-checkbox-checked {
  appearance: none;  
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: rgb(31, 144, 231);
  border: 1px solid black;
  cursor: pointer;
}

.sideNav_btn-container {
  display: flex;
  justify-content: flex-end;
  margin: 20px 10px; 
}

.sideNav_btn {
  font-size: 0.7rem;
  cursor: pointer;
  border: 1px solid grey; 
  border-radius: 20px;
  padding: 5px 10px;
}

.sideNav_eye-text-container {
  /* border: 1px solid blue; */
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.sideNav_eye-icon-container {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
}

.sideNav_eye-icon {
  font-size: 1.2rem;
  margin-right: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.sideNav_text-container {
  /* border: 1px solid red; */
}

.sideNav_eye-icon-hover-text {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.5); 
  opacity: 0;
}

.sideNav_eye-icon-hover-text-show {
  animation: showText 2s; 
}

@keyframes showText {
  from {opacity: 0;}
  to {opacity: 1.0;}
}





/* POST COMPONENT */

.post_container {
  /* border: black 1px solid; */
  border-radius: 15px;
  margin: 100px 13%;  /* make % smaller the wider you want the container. 100px top to fall below the header, 100 from bottom to be able to see the ellipsis dropdown on bottom post */
}

.post_no-posts {
  /* border: 1px solid black; */
  width: 100%; 
  height: calc(100vh - 220px);  /* 100vh take the footer, header, and margins/padding inbetween - didnt actually work out just kept doing trial and error and saw how it changed on the page */ 
  display: flex;
  flex-direction: column; 
  /* align-items: center; */
  justify-content: center;
}

.post_no-posts * {
  text-align: center;
  margin: 10px 0px;
}

.post_saved-posts {
  width: 100%; 
  height: calc(100vh - 220px);  /* 100vh take the footer, header, and margins/padding inbetween - didnt actually work out just kept doing trial and error and saw how it changed on the page */ 
}

.post_saved-posts-2plus {
  width: 100%;
  height: 100%;
}

.post_outer-div {
  position: relative;
}

.post_outer-container {
  /* border: red 1px solid !important; */
  width: 100%;
  display: flex;
  padding: 5px 0px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.post_outer-container-saved-on-render {
  /* border: red 1px solid !important; */
  width: 100%;
  height: 100%;
  display: flex;
  padding: 5px 0px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.post_outer-container-hide {
  display: none;
}

.post_score-container {
  /* border: 1px solid green; */
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10px;
}

.post_score {
  /* border: 1px solid lightblue; */
  margin: 10px 0px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post_score-icon, .post_comments-icon, .post_share-icon, .post_ellipsis-icon {
  color:rgb(150, 150, 150);
  cursor: pointer; 
}

.post_score-up-icon-clicked {
  color: green; 
}

.post_score-down-icon-clicked {
  color: red;
}

.post_main-content-container {
  /* border: 1px solid darkblue; */
  flex: 12;
  display: flex;
  flex-direction: column;
}

.post_details-top-container {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post_post-details {
  /* border: 1px solid purple; */
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.post_api-data {
  /* border: 1px solid red; */
  color:rgb(150, 150, 150);
  font-size: 0.8rem;
  text-align: center;
}

.strong {
  color: black !important; 
  font-weight: 600;
  margin-right: 5px;
}

.post_link-btn {
  background-color: #fff;
  border: 1px solid rgb(31, 144, 231);
  color: rgb(31, 144, 231);
  border-radius: 20px;
  padding: 3px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
}

.post_link-btn:hover {
  background-color:rgb(31, 144, 231);
}

.post_link-btn:hover p {
  color: #fff;
}

.post_link-btn-text {
  margin: 0px 5px;
  font-size: 0.8rem;
}

.post_permalink {
  list-style: none;
  text-decoration: none;
  color: rgb(31, 144, 231);
}

.post_title-bottom-details-img-container {
  /* border: 1px solid red; */
  display: flex; 
  justify-content: space-between;
  height: 100%;
}

.post_title-bottom-details-container {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post_title-container {
  /* border: 1px solid red; */
  padding-left: 10px;
}

.post_title {
  /* border: 1px solid green; */
  font-size: 1rem;
  font-weight: 500;
}

.post_bottom-details-container {
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.8rem;
  margin-top: 10px;
  padding-left: 10px;
}

.post_comments-icon-container, .post_share-icon-container {
  display: flex;
  align-items: center;
  padding: 0px 4px;
  cursor: pointer;
}

.post_share-icon-container {
  margin-left: 25px;
}

.post_comments-icon-container:hover, .post_share-icon-container:hover {
  background-color:rgba(120, 160, 187, 0.2)
}

.post_comments-icon {
  margin-right: 5px;
}

.post_share-icon {
  margin-right: 5px;
}

.post_ellipsis-container {
  margin-left: 25px;
  position: relative;
  /* border: 1px solid black; */
  /* background-color: green; */
  padding: 0px 4px;
}

.post_ellipsis-container:hover {
  background-color:rgba(120, 160, 187, 0.2)
}

.post_ellipsis-icon {
  /* margin-left: 25px; */
  font-weight: normal;
  cursor: pointer;
}

.post_ellipsis-dropdown {
  /* border: 1px solid green; */
  /* height: 60px;
  width: 10px; */
  position: absolute;
  left: 0px;
  bottom: -80px;
  background-color: rgb(248, 248, 240); 
  /* background-color: red; */
  display: none;
  z-index: 55;
}

.post_ellipsis-dropdown-show {
  display: block !important; 
}

.post_save-container, .post_hide-container, .post_report-container {
  /* border: 1px solid red; */
  width: 100px;
  height: 25px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  cursor: pointer; 
  color: rgba(0, 0, 0, 0.5); 
  background-color: rgb(248, 248, 240); 
}

.post_save-container-clicked, .post_hide-container-clicked, .post_report-container-clicked {
  width: 100px;
  height: 25px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  cursor: pointer; 
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(144, 238, 144, 0.5); 
}

.post_report-container-clicked {
  background-color: rgba(255, 0, 0, 0.8) !important; 
}

.post_hide-container-clicked {
  background-color: rgba(138, 138, 138, 0.884) !important; 
}

.post_save-container:hover, .post_hide-container:hover, .post_report-container:hover {
  background-color: rgb(230, 230, 230); 
  color: #000; 
}

.post_save-container-clicked:hover, .post_hide-container-clicked:hover {
  background-color: rgba(144, 238, 144, 0.5);  
  color: #000; 
}

.post_report-container-clicked:hover {
  color: #000;
}

.post_save-icon-container, .post_hide-icon-container, .post_report-icon-container {
  /* border: 1px solid blue;  */
  width: 40%;
  /* width: 80px;
  height: 25px;
  display: flex;
  flex-direction: row; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

.post_save-icon, .post_hide-icon, .post_report-icon {
  /* margin-right: 5px; */
  /* flex: 2; */
  /* height: 100%; */
  /* font-size: 0.5rem; */
  font-size: 0.9rem;
  width: 30px;
  /* font-weight: 0.8rem; */
}

.post_save-text, .post_hide-text, .post_report-text {
  /* border: 1px solid black; */
  align-self: center;
  display: flex;
  /* justify-content: center; */  
  /* font-size: 0.9rem; */
}

.post_save-text, .post_hide-text, .post_report-text {
  /* flex: 1; */
  width: 50px;
}

.post_report-text:hover {
  /* background-color: rgb(230, 230, 230); 
  color: #000;  */
}

.post_save-icon-container {
  /* border: 1px solid red; */
}

.post_save-icon {
  /* display: inline-block; */
  /* border: 1px solid black; */
}

.post_hide-icon-container {
  /* border: 1px solid blue; */
}

.post_hide-icon {
  /* border: 1px solid black; */
  /* font-size: 1rem; */
}

.post_report-icon-container {
  /* border: 1px solid yellow; */
}

.post_report-icon {
  /* border: 1px solid black; */
}

.post_img-container {
  /* border: 2px solid orange; */
  padding: 5px;
  display: flex;
  align-items: center;
  position: relative;
}

.post_post-img {
  /* border: 1px solid rgb(0, 121, 211); */
  cursor: pointer;
}

.post_post-img-clicked {
  /* border: 1px solid rgb(0, 121, 211); */
  border-radius: 5px;
}

.post_img-modal {
  position: absolute; 
  border: 1px solid rgba(150, 150, 150);
  border-radius: 5px;
  height: auto;
  width: auto;
  top: 0px;
  right: 0px;
  padding: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(233, 233, 233, 0.9);
  z-index: 50;
}

.post_img-modal-close-icon {
  position: absolute;
  top: 3%;
  right: 3%;
  color: rgba(150, 150, 150);
  cursor: pointer;
}

.post_img-modal-close-icon:hover {
  color: red;
}

.post_report-modal-hidden {
  position: fixed; 
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100; 
  background-color:rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: none; */
  visibility: hidden;  
}

.post_report-modal {
  position: fixed; 
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100; 
  background-color:rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: none; */
  /* visibility: hidden;  */
}

.post_report-modal-content {
  height: 50%;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.9); 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-radius: 2%;
  padding: 20px 0px;
}

.post_report-modal-report-icon {
  font-size: 2rem;
  color: red;
}

.post_report-modal-btn-container button {
  padding: 2px;
  background-color: rgba(230, 230, 230);
  border: 1px solid grey;
  border-radius: 5px;
}

.post_report-modal-btn-container button:hover {
  background-color: rgba(0, 0, 0);
  color: #fff;
}


/* FOOTER COMPONENT */


.footer {
  /* position: fixed; */
  /* bottom: 0px; */
  /* border: 1px solid black; */
  width: 100%;
  height: 5%;
  box-shadow: 0px -15px 20px #ddd;  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.footer h1 {
  font-size: 0.8rem;
  margin: 0px 2px;
  /* border: 1px solid black; */
}

.footer p {
  font-size: 0.8rem;
  margin: 0px 2px;
}



/* NOTE TO SELF ----> below is how you toggle rotate on each click  */
/* #shape  { width: 100px; 
  height: 200px; 
  background:#000;
  -moz-transition: all 1s ease;      <------- transition property
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
   transition: all 1s ease;
 }

.rotate {-moz-transform: rotate(90deg);   <------ rotate property on 
 -webkit-transform:rotate(90deg);                 a class that will be 
 -ms-transform:rotate(90deg);                     toggled 
 -o-transform:rotate(90deg);
 } */


 
/*       below is example of an infinite rotation animation 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

