/* APP COMPONENT */


[data-test="App"] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.App_loading-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  display: none;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease; 
}

.loader-inner {
  vertical-align: top; 
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in; 
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg); 
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

/* HEADER COMPONENT */


.header_header {
  /* border: 1px solid blue; */
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;

  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 5px 5px 5px #ddd;

  position: relative; 
  z-index: 10; 
}

.header_toggle-btn-container {
  /* border: 1px solid green; */
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_logo-title-container {
  /* border: 1px solid red; */
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20%;  /* so the logo and title are in the middle of the header, counters the toggle icon 20% width, didn't want toggle icon in absolute positioning  */
}

.header_search-icon {
  cursor: pointer;
  /* font-size: 1.5rem !important; */
  transition: all 0.5s ease;  /* part 1 of the burger menu rotation */
}

.header_filter-icon {
  font-size: 0.8rem !important;
  cursor: pointer;
  /* transition: all 0.5s ease; */
   /* part 1 of the burger menu rotation */
}

.header_search-icon-rotate {
  transform: rotate(90deg); /* part 2 of the burger menu rotation */
}

.header_reddit-icon {
  /* color: lightgrey; */
}

.header_font-awesome-icon {
  font-size: 1.5rem;
}

.header_title {
  font-size: 1.5rem;
}

.header_title-span {
  color: grey
}




/* SIDENAV COMPONENT */


.sideNav_hide-nav {
  /* border: 1px solid red; */
  position: absolute; 
  left: 0;
  top: 0; 
  height: 100vh; 
  margin-top: 80px;
  z-index: -10; 
  font-size: 0.7rem;
  /* width: 170px; */
  width: 0px;
  overflow: hidden;
  background-color: #ddd;
  transition: width 0.4s;
}

.sideNav_show-nav {
  /* border: 1px solid red; */
  position: absolute; 
  left: 0;
  top: 0; 
  /* height: 100vh;  */
  height: calc(100vh - 80px);
  margin-top: 80px;
  z-index: -10; 
  font-size: 0.7rem;
  width: 170px;
  overflow: hidden; 
  background-color: #ddd;
  transition: width 0.5s;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sideNav_hide-nav label, .sideNav_show-nav label {
  display: block; 
  margin: 10px; 
}

.sideNav_hide-nav input, select, .sideNav_show-nav input, select {
  font-size: 0.7rem;
  margin: 0px 10px;
}

.sideNav_btn-container {
  display: flex;
  justify-content: flex-end;
  margin: 20px 10px; 
}

.sideNav_btn {
  font-size: 0.7rem;
  cursor: pointer;
  border: 1px solid grey; 
  border-radius: 20px;
}




/* ARTICLE COMPONENT */

.article_container {
  /* border: black 1px solid; */
  /* display: flex;
  justify-content: center;
  align-content: center; */
  border-radius: 15px;
  margin: 30px 7.5%;
}

.article_article-div {
  /* border: red 1px solid; */
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center;
  align-items: center; */
  height: 350px;
  margin-bottom: 50px;
  /* background-color: rgb(235, 235, 235, 0.5); */
  background-color: rgba(221, 221, 221, 0.4);
  border-radius: 20px;
}

.article_comments-column {
  /* border: 1px solid green; */
  width: 20%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.article_total-comments {
  /* border: 1px solid lightblue; */
  height: 15%;
  width: 40%;
  margin: 0;
  margin-top: 50px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article_main-content-div {
  /* border: 1px solid darkblue; */
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.article_title {
  /* border: 1px solid yellow; */
  margin: 15px 10% 15px 0px;
  /* margin: 15px; */
  width: 90%;
  /* margin-right: 10%; */
  text-align: center;
}

.article_article {
  /* border: 1px solid orange; */
  height: 60%;
  width: 90%;
  margin-right: 10%;
  overflow: hidden;
  border-radius: 10px;
}

.article_article-img {
}

.article_article-details-div {
  /* border: 1px solid purple; */
  width: 90%;
  height: 5%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
}

.article_article-detail {
  /* border: 1px solid black; */
  width: 30%;
  font-size: 0.6rem;
  text-align: center;
}




/* FOOTER COMPONENT */


.footer {
  position: fixed;
  bottom: 0px;
  /* border: 1px solid black; */
  width: 100%;
  height: 5%;
  box-shadow: 0px -15px 20px #ddd;  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.footer h1 {
  font-size: 0.8rem;
  margin: 0px 2px;
  /* border: 1px solid black; */
}

.footer p {
  font-size: 0.8rem;
  margin: 0px 2px;
}

.footer * {
  /* margin: 0px 10px; */
}

/* NOTE TO SELF ----> below is how you toggle rotate on each click  */
/* #shape  { width: 100px; 
  height: 200px; 
  background:#000;
  -moz-transition: all 1s ease;      <------- transition property
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
   transition: all 1s ease;
 }

.rotate {-moz-transform: rotate(90deg);   <------ rotate property on 
 -webkit-transform:rotate(90deg);                 a class that will be 
 -ms-transform:rotate(90deg);                     toggled 
 -o-transform:rotate(90deg);
 } */


 
/*       below is example of an infinite rotation animation 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

